In [17]:
# importing required libraries
import pandas as pd
import numpy as np
import requests, json
import googlemaps

In [18]:
# enter your api key here
gmaps = googlemaps.Client(key='AIzaSyABuWEqGH5ryJkrlneh_lGqRUuM6bQLars')

In [19]:
df = pd.read_csv('data/test.csv')

In [20]:
df.head(5)

,id,order_finalized_id,customer_first_name,customer_last_name,job_address,job_suburb,job_geo_coordinate,installers_required,expected_job_time,est_installation_date,Perferred Install Day,Perferred Installer,installation_date,arrival_start_time,arrival_end_time,INSTALLER_IDs
0,2223,40628.0,Ana and Tom,Gahan,"38 KINGBOURNE AVE,",SEATON,"-34.9007279,138.5199928",1,150.0,15/01/2023,1.0,2.0,15/01/2023,08:25:00,10:55:00,1.0
1,2363,42620.0,Bev,Kasehagen,7 Pennine Street,West Beach,"-34.9336734,138.5141918",1,120.0,15/01/2023,NaN,1.0,15/01/2023,11:02:00,01:02:00,1.0
2,2363,42620.0,Bev,Kasehagen,7 Pennine Street,West Beach,"-34.9336734,138.5141918",1,120.0,15/01/2023,NaN,1.0,15/01/2023,08:30:00,10:30:00,NaN
3,2370,41846.0,Luke,Coscia,"28 ROSE CCT,",WALKEY HEIGHTS,"-34.8408831,138.6441389",1,8.0,15/01/2023,NaN,NaN,15/01/2023,08:00:00,10:00:00,NaN
4,2448,43714.0,Greg,Blunden,7D Paul Street,Hectorville,"-34.8915278,138.6738478",1,120.0,15/01/2023,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df_raw = df.drop_duplicates(keep='first',ignore_index=True)

# Keeping only the important variables for now
imp_variables = ['id','job_geo_coordinate','installers_required','expected_job_time','est_installation_date','installation_date','arrival_start_time','arrival_end_time','INSTALLER_IDs']
temp_df = df_raw[imp_variables]
df1 = temp_df.drop_duplicates(subset='id', keep="first",ignore_index=True)

#Inserting start facotry coordinates
df1.insert(2, "start_geo_coordinate", '-34.7810071,138.6461490', True)
df1.insert(3,"travel_time",None,True)

In [22]:
# Calculate travel time and Increase num of installers where exp job time >= 480
for i in range(len(df1)):
    try:
        dist_sec=gmaps.distance_matrix(df1.loc[i,'job_geo_coordinate'],df1.loc[i,'start_geo_coordinate'])['rows'][0]['elements'][0]['duration']['value']
        df1.loc[i,'travel_time'] = dist_sec//60
    except:
        df1.loc[i,'travel_time'] = None
    # Also if expected_time >= 480 then installers++
    if (df1.loc[i,'expected_job_time'] >= 480):
        df1.loc[i,'expected_job_time'] = np.ceil(df1.loc[i,'expected_job_time']/2)
        df1.loc[i,'installers_required']+=1

In [23]:
df1.to_csv('data/test01.csv',index=False)

In [9]:
df_raw

,id,order_finalized_id,customer_first_name,customer_last_name,job_address,job_suburb,job_geo_coordinate,installers_required,expected_job_time,est_instalation_date,Perferred Install Day,Perferred Installer,installation_date,arrival_start_time,arrival_end_time,INSTALLER ID
0,2223,40628.0,Ana and Tom,Gahan,"38 KINGBOURNE AVE,",SEATON,"-34.9007279,138.5199928",1,150.0,15/01/2023,1.0,2.0,15/01/2023,08:25:00,10:55:00,1.0
1,2363,42620.0,Bev,Kasehagen,7 Pennine Street,West Beach,"-34.9336734,138.5141918",1,120.0,15/01/2023,NaN,1.0,15/01/2023,11:02:00,01:02:00,1.0
2,2363,42620.0,Bev,Kasehagen,7 Pennine Street,West Beach,"-34.9336734,138.5141918",1,120.0,15/01/2023,NaN,1.0,15/01/2023,08:30:00,10:30:00,NaN
3,2370,41846.0,Luke,Coscia,"28 ROSE CCT,",WALKEY HEIGHTS,"-34.8408831,138.6441389",1,8.0,15/01/2023,NaN,NaN,15/01/2023,08:00:00,10:00:00,NaN
4,2448,43714.0,Greg,Blunden,7D Paul Street,Hectorville,"-34.8915278,138.6738478",1,120.0,15/01/2023,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,71742,50396.0,NaN,NaN,8 Reschella Street,Hope Valley,"-34.8447459,138.6959711",1,NaN,05/02/2023,NaN,NaN,NaN,NaN,NaN,NaN
492,71752,57550.0,Phil,Greco,30 Nioka Road,Dernancourt,NaN,1,180.0,05/02/2023,NaN,NaN,NaN,NaN,NaN,NaN
493,71842,58067.0,NaN,NaN,31 Flinders Street,Adelaide,"-34.9274342,138.6020127",1,480.0,05/02/2023,NaN,NaN,NaN,NaN,NaN,NaN
494,71862,58090.0,NaN,NaN,Unit 12 /108 Cross Rd Highgate,5063,NaN,1,150.0,05/02/2023,NaN,NaN,NaN,NaN,NaN,NaN
495,71967,57220.0,Hannah,Pearce,37 Julian Street,Lightsview,NaN,1,220.0,05/02/2023,NaN,NaN,NaN,NaN,NaN,NaN