In [1]:
# importing required libraries
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/TestDataSet_3.csv')
df.head(3)

,id,order_finalized_id,customer_first_name,customer_last_name,job_address,job_suburb,job_geo_coordinate,installers_required,expected_job_time,est_installation_date,pref_day,pref_time_window,pref_date,pref_installer,installation_date,arrival_start_time,arrival_end_time,INSTALLER_IDs
0,2223.0,40628.0,Ana and Tom,Gahan,"38 KINGBOURNE AVE,",SEATON,"-34.9007279,138.5199928",1.0,150.0,15/01/2023,1.0,"10:00,12:00",NaN,NaN,NaN,NaN,NaN,NaN
1,2363.0,42620.0,Bev,Kasehagen,7 Pennine Street,West Beach,"-34.9336734,138.5141918",1.0,120.0,15/01/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2370.0,41846.0,Luke,Coscia,"28 ROSE CCT,",WALKEY HEIGHTS,"-34.8408831,138.6441389",1.0,8.0,15/01/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_raw = df.drop_duplicates(keep='first',ignore_index=True)
# Keeping only the important variables for now
imp_variables = ['id','job_geo_coordinate','installers_required','expected_job_time','est_installation_date','pref_date','pref_day','pref_installer','pref_time_window','installation_date','arrival_start_time','arrival_end_time','INSTALLER_IDs']
temp_df = df_raw[imp_variables]
df_clean = temp_df.drop_duplicates(subset='id', keep="first",ignore_index=True)

In [4]:
# Calculate travel time and Increase num of installers where exp job time >= 480
for i in range(len(df_clean)):
    if (df_clean.loc[i,'expected_job_time'] >= 480):
        df_clean.loc[i,'expected_job_time'] = np.ceil(df_clean.loc[i,'expected_job_time']/2)
        df_clean.loc[i,'installers_required']*=2
df_clean = df_clean[df_clean["job_geo_coordinate"].notnull()]
df_clean.reset_index(inplace = True,drop=True)

In [5]:
## !!IMPORTANT CONSTRAINT
df_clean['pref_day'] = df_clean['pref_day']-1 ## Currently assuming original data has day_of_the_week from 1 to 7 --> So remove this line if not the case

In [6]:
df_clean[['Latitude','Longitude']] = df_clean["job_geo_coordinate"].str.split(',',expand=True) 
cols=list(df_clean.columns)
cols=cols[:2]+cols[-2:]+cols[2:-2]
df_clean=df_clean[cols]
df_clean.rename(columns={'INSTALLER_IDs': 'installer_ids'}, inplace=True)
df_clean = df_clean.sort_values(by=['installers_required','id'], ascending=[True,True],ignore_index=True) # Sorting according to installers_required first and then ids
df_clean['status'] = None # Adding a status column to keep track of planned jobs

In [7]:
df_clean.to_csv('data/processed_data_3.csv',index=False)